
/dts-v1/;
/plugin/;

#include <dt-bindings/board/am335x-bbw-bbb-base.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/am33xx.h>

/ {
	compatible = "ti,beaglebone", "ti,beaglebone-black", "ti,beaglebone-green";

	/* identification */
	part-number = "BB-GPIO";
	version = "00A0";		

	/*
	* Free up the pins used by the cape from the pinmux helpers.
	*/
	fragment@0 {
	target = <&ocp>; 
		__overlay__ {
			0x078 { status = "disabled"; }; /* GPIO_60, out */
			0x040 { status = "disabled"; }; /* GPIO_48, out */
			0x044 { status = "disabled"; }; /* GPIO_49, in  */
		};
	};
	
	/*
	* Free up the gpios used by the cape-universal gpio helpers.
 	*/
	fragment@1 {
		target = <&ocp>;
  			__overlay__ {
  			cape-universal { status = "disabled"; };
    		};
	};

	fragment@2 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			bb_gpio_pins: pinmux_bb_gpio_pins {
				pinctrl-single,pins = <
					0x078 0x2F /* GPIO_60, out */
					0x040 0x2F /* GPIO_48, out */
					0x044 0x0F /* GPIO_49, in */
				>;
			};
		};
	};
	fragment@3 {
            target = <&ocp>;
            	__overlay__ {
			test_helper: helper {
			pinctrl-names = "default";
			pinctrl-0 = <&bb_gpio_pins>;
			status = "okay";
			};
		};
	};
};
