
/dts-v1/;
/plugin/;

#include <dt-bindings/board/am335x-bbw-bbb-base.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/am33xx.h>


/ {
	compatible = "ti,beaglebone", "ti,beaglebone-black", "ti,beaglebone-green";

	/* identification */
	part-number = "BB-GPIO";
	version = "00A0";		

	/* state the resources this cape uses */
	exclusive-use =
		/* the pin header uses */
		"P9.15",	/* GPIO_48, out */
		"P9.23",	/* GPIO_49, in */
		"P9.12",	/* GPIO_60, out */
		/* the hardware ip uses */
	/*
	 * Free up the pins used by the cape from the pinmux helpers.
	 */

	fragment@0 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			bb_gpio_pins: pinmux_bb_gpio_pins {
				pinctrl-single,pins = <
					0x078 0x2F /* GPIO_60, out */
					0x040 0x2F /* GPIO_48, out */
					0x044 0x0F /* GPIO_49, in */
				>;
			};
		};
	};
	fragment@1 {
            target = <&ocp>;
            	__overlay__ {
                	test_helper: helper {
                    	pinctrl-names = "default";
                    	pinctrl-0 = <&bb_gpio_pins>;
                    	status = "okay";
                	};
            	};
        };
};
